snippet sl "arrow func"
(${1}) => {
	$3
}${2}
endsnippet

snippet cmt "comments"
{/* `echo $USER` `!v strftime("%c")` TODO: ${1:desc} */}
endsnippet

snippet csl "Const Function" b
const ${1:name} = (${2:args}) => {
	$4;
}${3:;}
endsnippet
